.contact-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white;
    border-radius: 20px;
    width: 60%;
    max-width: 700px;
    margin: auto;
    font-family: 'Poppins', sans-serif;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contact-form label {
    margin-bottom: 5px;
    font-weight: bold;
}

.contact-form input, .contact-form textarea {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-size: 15px;
}

.contact-form button-container {
    display:flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 10px;
}

.contact-form button {
    border: 1px solid white;
    background: #CFB595;
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    color: white;
    transition: background 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    text-decoration: none;
    border-width: 2px;
}

.contact-form button:hover {
    background: #a17f55;
}
