.header {
    font-family: "Poppins", sans-serif;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #faf0e6;
    color: black;
    padding: 20px 40px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin-left: -10%;
}

.header-logo {
    font-weight: bold;
    text-decoration: none;
    color: black;
    font-size: 24px;
    margin-right: auto;
}

.header-links {
    display: flex;
    justify-content: center;
    flex-grow: 1;
    font-size: 18px;
}

@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.header {
    font-family: 'Montserrat', sans-serif;
}

.header-links a {
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    transition: background-color 0.3s, color 0.3s;
    border-radius: 30px;
    margin: 0 10px;
}

.header-links a:hover {
    background-color: #CFB595;
    color: #fff;
    border-radius: 30px;
}