@font-face {
    font-family: 'Montserrat';
    src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

#home {
    background-image: url('../images/background.webp');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
}

body {
    background-color: #faf0e6;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    flex-direction: column;
    display: flex;
    min-height: 100vh;
}

.home {
    flex: 1;
    display: flex;
    flex-direction: column;
}

section {
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(odd) {
    background-color: #faf0e6
}

section:nth-child(even) {
    background-color: white;
}

h1 {
    translate: -75% -90%;
    font-size: 50px;
    color: black;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: relative;
}

.github img {
    width: 27px;
    height: 27px;
    margin-right: 20px;
}

.github :hover {
    color: #fff;
    border-radius: 5px;
    transform: scale(1.1);
}