body {
    background-color: #faf0e6;
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.home {
    align-items: center;
    padding-top: 100px;
}

section {
    padding: 60px 20px;
    margin: 20px 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

section:nth-child(odd) {
    background-color: #faf0e6
}

section:nth-child(even) {
    background-color: white;
}

h1 {
    justify-content: center;
}