.container {
    width: 100%;
    max-width: 1200px;
    height: 500px;
    display: flex;
    gap: 10px;
    margin-inline: 50px;
}

.card {
    flex-basis: 10%;
    min-width: 70px;
    height: 100%;
    border-radius: 30px;
    display: flex;
    align-items: flex-start;
    flex-grow: 1;
    flex-shrink: 1;
    position: relative;
    transition: flex-grow 0.5s ease, flex-basis 0.5s ease;
    overflow: hidden;
}

.card:hover {
    flex-basis: 40%;
    flex-grow: 5;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
    z-index: 0;
    transition: filter 0.5s ease;
}

.card-content > .title {
    position: absolute;
    top: 10px;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    color: rgb(43, 43, 43);
    font-size: 1.5em;
    opacity: 1;
    transition: translate 0.5s ease, opacity 0.5s ease, left 0.5s ease, color 0.5s ease; 
}

.card:hover .title {
    left: 10px;
    opacity: 1;
    transform: translateX(0);
    color: white;
}

.card:hover .background {
    filter: brightness(0.5) blur(2px);
}